.zp-switch {
    --zp-switch-on-color: var(--zp-color-primary);
    --zp-switch-off-color: var(--zp-border-color);
    --zp-switch-on-border-color: var(--zp-color-primary);
    --zp-switch-off-border-color: var(--zp-border-color);
}

.zp-switch {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    .zp-switch__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        &:focus-visible {
            &~.zp-switch__core {
                outline: 2px solid var(--zp-switch-on-color);
                outline-offset: 1px;
            }
        }
    }
    .zp-switch__input:focus-visible {
        outline: 2px solid var(--zp-color-primary);
    }
    &.is-checked {
        .zp-switch__core {
            border-color: var( --zp-switch-on-border-color);
            background-color: var( --zp-switch-on-color);
            .zp-switch__core-action {
                left: calc(100% - 17px);
            }
            .zp-switch__core-inner {
                padding: 0 18px 0 4px;
            }
        }
    }
}

.zp-switch__core {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 20px;
    min-width: 40px;
    border: 1px solid var( --zp-switch-off-border-color);
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var( --zp-switch-off-color);
    cursor: pointer;
    transition: border-color var(--zp-transition-duration), background-color var(--zp-transition-duration);
    .zp-switch__core-action {
        position: absolute;
        left: 1px;
        top: 1px;
        border-radius: var(--zp-border-radius-circle);
        transition: all 0.3s;
        width: 16px;
        height: 16px;
        background-color: white;
        transition: all var(--zp-transition-duration);
    }
    .zp-switch__core-inner {
        width: 100%;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all var(--zp-transition-duration);
        padding: 0 4px 0 18px;
        .zp-switch__core-inner-text {
            font-size: 12px;
            color: white;
            user-select: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}