:root {
  /*color*/
  --zp-color-primary: #409eff;
  --zp-color-primary-light-3: rgb(121, 187, 255);
  --zp-color-primary-light-5: rgb(160, 207, 255);
  --zp-color-primary-light-7: rgb(198, 226, 255);
  --zp-color-primary-light-8: rgb(217, 236, 255);
  --zp-color-primary-light-9: rgb(236, 245, 255);
  --zp-color-primary-dark-2: rgb(51, 126, 204);
  --zp-color-success: #67c23a;
  --zp-color-success-light-3: rgb(149, 212, 117);
  --zp-color-success-light-5: rgb(179, 225, 157);
  --zp-color-success-light-7: rgb(209, 237, 196);
  --zp-color-success-light-8: rgb(225, 243, 216);
  --zp-color-success-light-9: rgb(240, 249, 235);
  --zp-color-success-dark-2: rgb(82, 155, 46);
  --zp-color-warning: #e6a23c;
  --zp-color-warning-light-3: rgb(238, 190, 119);
  --zp-color-warning-light-5: rgb(243, 209, 158);
  --zp-color-warning-light-7: rgb(248, 227, 197);
  --zp-color-warning-light-8: rgb(250, 236, 216);
  --zp-color-warning-light-9: rgb(253, 246, 236);
  --zp-color-warning-dark-2: rgb(184, 130, 48);
  --zp-color-danger: #f56c6c;
  --zp-color-danger-light-3: rgb(248, 152, 152);
  --zp-color-danger-light-5: rgb(250, 182, 182);
  --zp-color-danger-light-7: rgb(252, 211, 211);
  --zp-color-danger-light-8: rgb(253, 226, 226);
  --zp-color-danger-light-9: rgb(254, 240, 240);
  --zp-color-danger-dark-2: rgb(196, 86, 86);
  --zp-color-error: #f56c6c;
  --zp-color-error-light-3: rgb(248, 152, 152);
  --zp-color-error-light-5: rgb(250, 182, 182);
  --zp-color-error-light-7: rgb(252, 211, 211);
  --zp-color-error-light-8: rgb(253, 226, 226);
  --zp-color-error-light-9: rgb(254, 240, 240);
  --zp-color-error-dark-2: rgb(196, 86, 86);
  --zp-color-info: #909399;
  --zp-color-info-light-3: rgb(177, 179, 184);
  --zp-color-info-light-5: rgb(200, 201, 204);
  --zp-color-info-light-7: rgb(222, 223, 224);
  --zp-color-info-light-8: rgb(233, 233, 235);
  --zp-color-info-light-9: rgb(244, 244, 245);
  --zp-color-info-dark-2: rgb(115, 118, 122);
  --zp-bg-color: #ffffff;
  --zp-bg-color-page: #f2f3f5;
  --zp-bg-color-overlay: #ffffff;
  --zp-text-color-primary: #303133;
  --zp-text-color-regular: #606266;
  --zp-text-color-secondary: #909399;
  --zp-text-color-placeholder: #a8abb2;
  --zp-text-color-disabled: #c0c4cc;
  --zp-border-color: #dcdfe6;
  --zp-border-color-light: #e4e7ed;
  --zp-border-color-lighter: #ebeef5;
  --zp-border-color-extra-light: #f2f6fc;
  --zp-border-color-dark: #d4d7de;
  --zp-border-color-darker: #cdd0d6;
  --zp-fill-color: #f0f2f5;
  --zp-fill-color-light: #f5f7fa;
  --zp-fill-color-lighter: #fafafa;
  --zp-fill-color-extra-light: #fafcff;
  --zp-fill-color-dark: #ebedf4;
  --zp-fill-color-darker: #e6e8eb;
  --zp-fill-color-blank: #ffffff;

  /*border*/
  --zp-border-width: 1px;
  --zp-border-style: solid;
  --zp-border-color-hover: var(--zp-text-color-disabled);
  --zp-border: var(--zp-border-width) var(--zp-border-style) var(--zp-border-color);
  --zp-border-radius-base: 4px;
  --zp-border-radius-large: 6px;
  --zp-border-radius-small: 2px;
  --zp-border-radius-circle: 100%;

  /*font*/
  --zp-font-size-extra-large: 20px;
  --zp-font-size-large: 18px;
  --zp-font-size-medium: 16px;
  --zp-font-size-base: 14px;
  --zp-font-size-small: 13px;
  --zp-font-size-extra-small: 12px;
  --zp-font-weight-primary: 500;
  --zp-font-family:
    'Helvetica Neue', Arial, sans-serif, Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'WenQuanYi Micro Hei';

  /*disabled*/

  --zp-disabled-bg-color: var(--zp-fill-color-light);
  --zp-disabled-border-color: var(--zp-text-color-placeholder);
  --zp-disabled-text-color: var(var(--zp-border-color-light));

  /*transition*/
  --zp-transition-duration: 0.3s;
}
